#order-form {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 17%;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    line-height: 30px;
  }

  #confirm {
    background: transparent;
    outline: none;
    border: 2px solid orange;
    font-size: 13px;
    padding: 4px 8px 4px 8px;
    border-radius: 8px;
    color: white;
    background-color: orange;
    cursor: pointer;
  }